function esPrimo(valor);{

    let m=valor;
    let n;
    let r;
    let primo=true;
    
    for(n=2;n<m;n++){
        r=m%n;
        if(r===0){
            primo=false;
        }
    }
    if(primo== false){
        console.log("Noes prrimoo");
    }else{
    console.log("Primo")
        }
}

//Instrucciones xd.
//Arreglo sin elementos
let miArreglo=[];

//push()
//Esto agrega un elemento al arreglo

// por ciclo for
for(let i=0;i<50;i++) {
let numero;
numero=Math.round(Math.random()*499+1);

miArreglo.push(numero)
}

console.log(miArreglo);

//calcular promedio
let suma=0;

for(let i=0;i<50;i++){

suma=suma+miArreglo[i];

}
let promedio=suma/50;
document.write(promedio);

document.write("<br>");
document.write("=====Multiplos de 15=====");
document.write("<br>");



//Imprimir todos los valores excepto los multiplos de 15
//La operacion "(modulo)"" devuelve el residuo de una division
//Imprimir números mayores a 34 que se encuntren


for (let i=0;i<50;i++){
    if(miArreglo[i]%15!=0){
        
        if(miArreglo[i]%2!=0){
            
            if(miArreglo[i]>34){

    document.write(miArreglo[i]);
    document.write("<br>")

    }  
    }
}
}


//Primos son aqeullos que solo son divisibles entre ellos mismos y 1


function esPrimo(valor);{

    let m=valor;
    let n;
    let r;
    let primo=true;
    
    for(n=2;n<m;n++){
        r=m%n;
        if(r===0){
            primo=false;
        }
    }
    if(primo== false){
        console.log("Noes prrimoo");
    }else{
    console.log("Primo")
        }
    }

//seleccionar 5 problemas de programacion b´asica y hacer un vidio explicando como se soluciona
